# Virtual Environment
.venv/
venv/
ENV/

# Python caching
__pycache__/
*.pyc

# Local SQLite Database (Don't push raw DBs to GitHub!)
*.sqlite
*.sqlite3

# Environment variables / API Keys
.env

.streamlit/